<div id="<%= dom_id university %>">
  <p>
    <strong>Name:</strong>
    <%= university.name %>
  </p>

  <p>
    <strong>Chuyennganh:</strong>
    <%= university.chuyennganh %>
  </p>

  <p>
    <strong>Vitri:</strong>
    <%= university.vitri %>
  </p>

  <p>
    <strong>Thoigianhd:</strong>
    <%= university.thoigianhd %>
  </p>

  <p>
    <strong>Soluong:</strong>
    <%= university.soluong %>
  </p>

  <p>
    <strong>Nganhdaotao:</strong>
    <%= university.nganhdaotao %>
  </p>

</div>
